.buttonBlock {
	top: 10px;
	width: 60%; /*Jank. This is 60% of one third.*/
	position: relative;
	background: #523A28;
	/*rounded edges for box*/
	border-top-right-radius: 10px;	
	border-bottom-right-radius: 10px;
	
}

.buttonBlock > * {
	padding: 20px;
	font-size: 30px;
	color: #D0B49F;
	/*rounded edges for box when the mouse is over the current option*/
	border-top-right-radius: 10px;	
	border-bottom-right-radius: 10px;
	
	display: block; /* Forces each element to be on top of one another. */
	text-decoration: none; /* Removes the hyperlink underline. */
	border: 2px solid #A47551;
}

.buttonBlock > *:hover {
	color: #000000; /* Darken the color to indicate the user is hovering over this element. */
	background-color: ivory; /* Grey/white background makes it super obvious. */
}


